// keyframes :

@mixin keyframes($animation-name)
{
    @-webkit-keyframes #{$animation-name}
    {
        @content;
    }
    @-moz-keyframes #{$animation-name}
    {
        @content;
    }
    @-ms-keyframes #{$animation-name}
    {
        @content;
    }
    @-o-keyframes #{$animation-name}
    {
        @content;
    }
    @keyframes #{$animation-name}
    {
        @content;
    }
}

@mixin animation($str)
{
    -webkit-animation: #{$str};
       -moz-animation: #{$str};
        -ms-animation: #{$str};
         -o-animation: #{$str};
            animation: #{$str};
}


// fade-in-bottom :

@include keyframes(fade-in-bottom)
{
    0%
    {
        transform: translateY(50px);

        opacity: 0;
    }
    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}

// bounce in :

@include keyframes(bounce-in-top) {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0.5;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-25px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

// pulse :

@include keyframes(pulse)
{
    from
    {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10%
    {
        transform: scale(.91);
        animation-timing-function: ease-in;
    }

    17%
    {
        transform: scale(.98);
        animation-timing-function: ease-out;
    }

    33%
    {
        transform: scale(.87);
        animation-timing-function: ease-in;
    }

    45%
    {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

// focus in :

@include keyframes(focus-in)
{

  0%
  {

    filter: blur(12px);
    opacity: 0;

  }

  100%
  {

    filter: blur(0px);
    opacity: 1;

  }

}

// text shadow :

@include keyframes(drop-shadow)
{

  0%
  {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  100%
  {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.25);
  }

}

// slide in top :

@include keyframes(slide-in-top) {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// scale up top left :

@include keyframes(scale-up-tl)
{
  0%
  {
    transform: scale(0.5);
    transform-origin: 0% 0%;
  }

  100%
  {
    transform: scale(1);
    transform-origin: 0% 0%;
  }
}

// scale in center :

@include keyframes(scale-in-center)
{
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

// slide in right :

@include keyframes(slide-right)
{
  0%
  {
    transform: translateX(100px);
  }

  100%
  {
    transform: translateX(0);
    opacity: 1;
  }
}

// slide in left :

@include keyframes(slide-left)
{
  0%
  {
    transform: translateX(-100px);
  }

  100%
  {
    transform: translateX(0);
    opacity: 1;
  }
}


// transitions :

@mixin transition($args)
{
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}
