.FlexContainer {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;

  &.Horizontal {
    flex-direction: row;
  }

  .column {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    position: relative;
    align-self: stretch;
  }

  .RemoveColumnPadding {
    padding: 0;
  }

  .row,
  .row-reverse {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .FullColumn {
    flex-basis: 100%;
    width: 100%;
  }
}

.ColumnVertical .column {
  flex-direction: column;
}
