.mapCanvas {
  height: 30rem;
}

.mapCanvas.Circular {
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
  margin: 5rem auto;
  position: relative;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    border-radius: 50%;
    content: '';
    left: 0;
    top: 0;
    z-index: 2;
    box-shadow: inset 0 0 8px 0 rgba(44,62,80,.5);
  }
}
