.Hamburger {
  cursor: pointer;

  .line {
    background-color: #fff;
    width: 30px;
    height: 1px;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
  }

  &.is-active {
    .line {
      background-color: #ccc;
    }

    .line:nth-child(1) {
      transform: translateY(7px);
    }

    .line:nth-child(3) {
      transform: translateY(-7px);
    }
  }
}

.HamburgerContainer {
  padding-right: 2rem;
  display: none;

  span.MenuLabel {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #ccc;
  }
  padding-right: 2rem;

  &.box {
    background: none;
    padding: 0.5rem 1.25rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 15px rgba(44,62,80,0.1);
    margin-top: 2rem;
  }

  .HamburgerMenuTitle {
    padding-right: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;

    span {
      display: block;
    }
  }
}

.Navigation.Mobile {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background: $BabyBlue;
  @include box-shadow-all( 'rgba(44,62,80,.2)');
  z-index: 20;
  padding: 1.5rem;
  transition: all 300ms ease-out;
  transform: translateX(100%);
  box-sizing: border-box;
  opacity: 0;
  display: flex;

  .close {
    text-align: right;
    font-weight: 600;
    padding: 1rem 0;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
  }

  &.MobileOpen {
    transform: translateX(0);
    opacity: 1;
    justify-content: space-between;
  }

  .mobile {
    flex-basis: 70%;
    max-width: 70%;
  }

  ul {
    flex-basis: 70%;
    max-width: 70%;

    li {
      display: block;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid rgba(255,255,255,.2);

      &:last-of-type {
        border: none;
      }
    }

    a {
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
// responsive - 400px :
@media screen and (max-width: 400px) {
  .Navigation.Mobile {
    width: 75%;
  }
}
