@import url( 'https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600');

html {
  font-size: 10px;
}

body {
  color: $LightGray;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 3rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

p,
ul {
  font-size: 1.6rem;
}

ul {
  padding-left: 2rem;

  li {
    list-style-type: disc;
    line-height: 3rem;
  }
}

p {
  line-height: 2.2rem;
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.HeroText,
.HeroText p {
  color: #9a9a9a;
  font-size: 5rem;
  line-height: 5.5rem;
  font-style: italic;
  padding: 6rem 0 12rem 4rem;

  span {
    color: $BabyBlue;
  }
}
