// page portal :

.AboutPortalFlexContainer {
  background-color: $LightBlue;

  .PagePortal .FlexContainer {
    align-items: center;
    height: 100%;

    .row {
      height: 100%;
      background: #fff;
    }
  }

  .column.PagePortal {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column.Content {
    background: $BabyBlueGradient;
  }

  .column.BackgroundImage {
    flex-basis: 60%;
    max-width: 60%;
  }

  .column.BackgroundImage,
  .column.Content {
    position: relative;
    margin-top: -8rem;
    @include box-shadow-all();
  }

  .column.CompanyMotto {
    padding: 10rem 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    background: #fff;

    .box {
      padding: 5rem 14rem;
    }

    .HeroText {
      padding: 0;
      margin: 0;
    }

    &:after,
    &:before {
      position: absolute;
      display: block;
      background-color: $LightGray;
      opacity: 0.2;
      content: '';
    }

    &:before {
      width: 1px;
      height: 200%;
      left: 10rem;
      top: 0;
    }

    &:after {
      height: 1px;
      width: 100%;
      top: 8rem;
      left: 0;
    }
  }

  .column.LightBlueBackgroundBlock {
    flex-basis: 15%;
    max-width: 15%;
  }

  .column.DarkBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }
}
// about page intro :

.AboutPageIntro {
  flex-direction: row;
  position: relative;
  z-index: 3;

  .HeroText {
    font-style: normal;
    display: flex;
    justify-content: center;
    padding: 0;

    h1 {
      font-size: 3.5rem;
    }
  }

  .column.LightBlueBackgroundBlock {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column.DarkBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }

  .FlexContainer {
    flex-direction: row;
  }

  .column {
    justify-content: center;

    .box {
      width: 100%;

      .column {
        flex-direction: column;
      }
    }
  }

  .column.BackgroundImage {
    margin-top: -5rem;
    margin-bottom: -5rem;
    @include box-shadow-top-and-bottom();
  }

  .PaddingBottom {
    padding-bottom: 10rem;
  }

  .DarkGrayBackground {
    position: relative;
    padding: 8rem 0;
    flex-basis: 65%;
    max-width: 65%;

    &:before {
      content: '';
      height: 100%;
      width: 8rem;
      display: block;
      background: $DarkGray;
      position: absolute;
      left: -5rem;
      top: 0;
    }

    .ContentModule {
      padding: 0 8rem;
      max-width: 80%;
      box-sizing: border-box;
      align-self: flex-end;
    }
  }

  .box.Content {
    background-color: #fff;
    @include box-shadow-all();
    position: relative;
    z-index: 3;
    margin-top: -10rem;
  }

  .ContentModule {
    padding: 0;
  }

  .ContentModules {
    padding: 8rem 8rem 0 0;

    .ContentModule:first-of-type {
      margin-bottom: 10rem;
    }
  }
}

.OurCulture {
  .OurCultureContent {
    &.FlexContainer .column {
      flex-direction: column;
    }
    .min-height {
      min-height: 658px;
    }
  }

  .column.DarkBlueBackgroundBlock {
    flex-basis: 10%;
    max-width: 10%;
  }

  .ColumnOne {
    .ContentModule.box {
      padding: 15rem;
      flex: 1;
      max-width: 100%;

      .HeroText {
        padding: 0;
        color: #fff;
        margin-bottom: 3rem;

        span {
          color: $BabyBlue;
        }
      }
    }
  }

  .ColumnTwo {
    .min-height {
      min-height: 300px;
    }
    .RoundedImage {
      margin-top: -10rem;
      margin-right: -30rem;
    }

    .ContentModule {
      margin: 0;
      align-self: center;
      margin-top: auto;
      margin-bottom: auto;
      flex: 1;
      max-width: 100%;
    }

    .DarkGrayBackground {
      height: 25rem;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .FlexContainer {
      .column:first-of-type {
        max-width: 55%;
        flex-basis: 55%;
      }

      .column:last-of-type {
        background: #fff;
        li {
          color: $BabyBlue;
        }
      }
    }
  }
}
// responsive - 1600px :
@media only screen and (max-width: 1600px) {
  .AboutPortalFlexContainer .column.LightBlueBackgroundBlock {
    flex-basis: 15%;
    max-width: 15%;
  }

  .AboutPortalFlexContainer .column.BackgroundImage {
    flex-basis: 40%;
    max-width: 40%;
  }

  .AboutPortalFlexContainer .column.PagePortal {
    flex-basis: 65%;
    max-width: 65%;
    background-color: #fff;
  }
}
// responsive - 1440px :
@media only screen and (max-width: 1440px) {
  .OurCulture .ColumnOne .ContentModule.box .HeroText {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .OurCulture .ColumnOne .ContentModule.box .HeroText {
    br {
      display: none;
    }
  }

  .OurCulture .ColumnTwo .RoundedImage {
    margin-right: -10rem;
  }
  .AboutPageIntro .HeroText h1 {
    font-size: 2.5rem;
  }
}
// responsive - 1280px :
@media only screen and (max-width: 1280px) {
  .OurCulture .ColumnOne .ContentModule.box .HeroText,
  .column.CompanyMotto .HeroText {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  .AboutPageIntro .DarkGrayBackground {
    flex-basis: 65%;
    max-width: 65%;
  }

  .OurCulture .ColumnOne .ContentModule.box {
    padding: 10rem;
  }

  .OurCulture .ColumnTwo .RoundedImage {
    margin-top: 0;
  }

  .OurCulture .ColumnTwo .ContentModule {
    padding: 5rem;
  }

  .AboutPageIntro .DarkGrayBackground .ContentModule {
    max-width: none;
  }
}
// responsive - 1240px :
@media only screen and (max-width: 1240px) {
  .AboutPortalFlexContainer .column.LightBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }

  .AboutPortalFlexContainer .column.DarkBlueBackgroundBlock {
    flex-basis: 2%;
    max-width: 2%;
  }

  .AboutPortalFlexContainer .column.CompanyMotto {
    padding: 0;

    .box {
      padding: 0;
    }
  }

  .AboutPageIntro .ContentModules {
    padding: 5rem 5rem 0 0;
  }
}
// responsive - 1200px :
@media screen and (max-width: 1200px) {
  .AboutPageIntro .HeroText h1 {
    font-size: 2.5rem;
  }

  .OurCulture .column.DarkBlueBackgroundBlock {
    flex-basis: 2%;
    max-width: 2%;
  }
}
// responsive - 1024px :
@media screen and (max-width: 1024px) {
  .OurCulture .ColumnOne .ContentModule.box {
    padding: 5rem;
  }

  .AboutPageIntro .column.LightBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }
}
// responsive - 990px :
@media only screen and (max-width: 990px) {
  .AboutPortalFlexContainer .column.PagePortal {
    flex-basis: 50%;
    max-width: 50%;
  }

  .AboutPortalFlexContainer .column.PagePortal .column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .AboutPortalFlexContainer .column.PagePortal .column.BackgroundImage {
    height: 30rem;
    box-shadow: none;
  }

  .AboutPortalFlexContainer .column.CompanyMotto:before {
    left: 2rem;
  }

  .AboutPortalFlexContainer .column.CompanyMotto:after {
    top: 2rem;
  }

  .column.CompanyMotto .HeroText {
    font-size: 3rem;
    line-height: 3rem;
  }

  .AboutPortalFlexContainer .column.CompanyMotto {
    padding: 4rem;
  }
}
// responsive - 800px :
@media only screen and (max-width: 800px) {
  .AboutPortalFlexContainer .column,
  .AboutPortalFlexContainer .column.PagePortal,
  .OurCulture .OurCultureContent.FlexContainer .column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .OurCulture .OurCultureContent.FlexContainer .column.ColumnTwo .FlexContainer {
    flex-direction: column-reverse;
  }

  .OurCulture .ColumnTwo .RoundedImage {
    display: none;
  }

  .RoundedImage img {
    height: 26rem;
    width: 26rem;
  }

  .RoundedImage {
    width: 28rem;
    height: 28rem;
  }

  .AboutPageIntro .DarkGrayBackground .ContentModule {
    padding: 0 4rem;
  }
}
// responsive - 750px :
@media only screen and (max-width: 750px) {
  .AboutPageIntro .column .box .column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .AboutPageIntro .ContentModules {
    padding: 0 8rem 4rem;
  }

  .AboutPageIntro .ContentModules .ContentModule:first-of-type {
    margin-bottom: 0;
  }

  .AboutPageIntro .HeroText {
    justify-content: left;
    padding: 4rem 0 0 8rem;
  }

  .AboutPageIntro .HeroText h1 {
    margin: 0;
  }

  .AboutPageIntro .column.BackgroundImage {
    margin: 0;
    height: 30rem;
  }
}
// responsive - 500px:
@media only screen and (max-width: 500px) {
  .AboutPageIntro .ContentModules {
    padding: 0 4rem 4rem;
  }

  .AboutPageIntro .HeroText {
    padding: 4rem 0 0 4rem;
    margin-bottom: 3rem;
  }
}
