.blogLayout .WhiteBackgroundBlock {
  flex-basis: 5%;
  max-width: 5%;
}

.blogLayout .blogContent {
  background-color: $LightBlue;
}

.blogLayout .blogContent .box {
  padding: 15rem;
  width: 100%;
}

.blogLayout article a {
  text-decoration: none;
}

.blogLayout {
  .PostMeta span:first-of-type {
    margin-right: 1rem;
  }

  .PostMeta .PostAuthor,
  .PostMeta .PostDate {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
  }
}

.blogLayout .PostContainer,
.blogLayout .articlesToggle {
  max-width: 120rem;
  width: 100%;
}

.FeaturedPostContainer {
  margin-top: 5rem;
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: translateY(30rem);
}

.PostContainerWrap .FeaturedPostContainer {
  transform: translateY(0);
}

.FeaturedPostContainer article {
  .BackgroundImage {
    height: 30rem;
  }
  padding-right: 3rem;

  a {
    display: block;
  }

  &:last-of-type {
    padding-right: 0;
  }

  .PostContent {
    background: $BabyBlue;
    color: #fff;
    padding: 5rem;
  }

  .PostContent h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0;
  }

  .PostMeta {
    margin-top: 0.5rem;
  }
}

.PostList {
  margin-top: 1rem;

  > .column:first-of-type {
    margin-right: 2rem;
    flex-basis: 55%;
    max-width: 55%;
  }
}

.navigation.pagination {
  background-color: #D7E2EB;
  position: relative;
  z-index: 5;
  margin: 2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.navigation.pagination a {
  display: inline-block;
  color: $DarkGray;
  text-decoration: none;
}

.navigation.pagination a,
.page-numbers.current {
  font-size: 1.4rem;
}

.navigation.pagination a:hover {
  color: $LightGray;
}

.navigation.pagination a:not(.next).active,
.page-numbers.current {
  cursor: text;
  color: $LightGray;
  opacity: .5;
}

.blogLayout article a .image.BackgroundImage {
  transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.blogLayout article a .PostContent {
  transition: background 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.blogLayout article a:hover .PostContent {
  background: $LightGray;
}

.blogLayout article a:hover .image.BackgroundImage {
  opacity: 0.5;
}

.PostList article {
  margin: 1rem 0;
}

.PostList article a {
  color: $DarkGray;

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .image.column {
    flex-basis: 30%;
    max-width: 30%;
  }

  .PostContent.column {
    background: #fff;

    .box {
      padding: 5rem 2rem;
    }
  }

  .PostMeta span:first-of-type {
    margin-right: 1rem;
  }

  .PostMeta .PostAuthor {
    color: $LightGray;
  }

  .PostMeta .PostDate {
    color: $BabyBlue;
  }
}

.PostContainerWrap {
  display: none;
}

.PostContainerWrap.active {
  display: flex;
}

.blogContent .btn.active span {
  background: #1F242A;
}

.blogContent .btn.active span:after {
  width: 100%;
  left: 0;
}

// responsive - 1200px :
@media screen and (max-width: 1200px) {
  .FeaturedPostContainer .column {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 3rem !important;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .blogLayout.blogLayoutChild .blogContent > .box {
    padding: 5rem;
  }
}
// responsive - 900px
@media screen and (max-width: 900px) {
  .PostContainer > .column {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin-bottom: 3rem !important;
    margin-right: 0 !important;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .blogLayout.blogLayoutParent .blogContent .box {
    padding: 0;
  }

  .blogLayout .WhiteBackgroundBlock {
    flex-basis: 2%;
    max-width: 2%;
  }

  .SinglePostContainer .column {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin-bottom: 3rem;

    .recentPost {
      padding: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .blogLayout.blogLayoutChild .blogContent > .box {
    padding: 10rem 5rem;
  }
}
// responsive - 450px
@media screen and (max-width: 450px) {
  .FeaturedPostContainer article .PostContent,
  .blogLayoutChild .blogContent .SinglePostTitle .box {
    padding: 2rem;
  }

  .blogLayout.blogLayoutChild .blogContent > .box {
    padding: 5rem 2rem;
  }
}
