.wpcf7 {
  width: 80%;
}

.wpcf7,
.wpcf7 p label {
  font-family: 'Crimson Text', serif;
}

.wpcf7 form {
  margin: 4rem 0;
}

span.wpcf7-list-item {
  margin: 0;
  display: block;
}

.wpcf7-form-control-wrap.radio-905 span.wpcf7-list-item:first-of-type {
  margin-bottom: 1rem;
}

.wpcf7 form input[type="email"],
.wpcf7 form input[type="tel"],
.wpcf7 form input[type="text"], textarea {
  color: #2E2E2E;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border-color: #EFEFEF;
  width: 100%;
  background-color: $LightBlue;
  border: none;
  margin-top: .5rem;
  padding: 1rem;
}

.wpcf7 p label {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $LightGray;
  font-weight: 700;
}

.wpcf7 input[type="submit"] {
  border-radius: 0;
  border: none;
  padding: 1.5rem;
  width: 20rem;
  background-color: #088dc4;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms ease-out;
  font-family: 'Crimson Text', serif;
  font-size: 1.4rem;
  margin-top: 2.5rem;
}

.wpcf7 input[type="submit"]:hover {
  background-color: $DarkGray;
}

div.wpcf7 input[type="file"] {
  border-radius: 0;
  border: 1px solid $BabyBlue;
  padding: 1.5rem;
  width: 20rem;
  background-color: #fff;
  color: $BabyBlue;;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms ease-out;
  font-family: 'Crimson Text', serif;
  font-size: 1.4rem;
  margin-top: 2.5rem;
}