.ExpertisePortalFlexContainer {
  .column.Content {
    background-color: $DarkGray;
    padding: 10rem 0;
    justify-content: flex-start;
  }

  .box {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.PageBanner.Expertise .PageBannerContent {
  display: none;
}

.ExpertiseIntro.FlexContainer {
  > .column {
    padding-top: 20rem;
    flex-direction: column;
  }

  .column.LightBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }

  .row.RowOne .column {
    align-self: center;
    flex-basis: 50%;
    max-width: 50%;
  }

  .row.RowOne .box,
  .row.RowTwo .box {
    h1 {
      color: $BabyBlue;
    }
  }

  .row.RowOne .column.HeroText,
  .row.RowOne .column.HeroText p {
    padding: 0;
    width: 50rem;
  }

  .row.RowOne .column.HeroText .box {
    margin: 0 auto;
  }

  .row.RowOne .column:last-of-type {
    .box {
      padding: 8rem;
    }
  }

  .row.RowTwo .column {
    flex-basis: 50%;
    max-width: 50%;
  }

  .row.RowTwo .column:first-of-type .box {
    padding: 8rem;
    margin-left: 5rem;
  }

  .row.RowTwo .column:last-of-type {
    flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-bottom: -5rem;
    @include box-shadow-bottom( 'rgba(0,0,0,.5)');

    .BackgroundImage {
      background-size: cover !important;
      height: 30rem;
    }
  }

  .row.RowTwo .column:last-of-type .box {
    background-color: $DarkGray;
    padding: 6rem;

    p {
      font-size: 3rem;
      line-height: 3rem;
      color: $BabyBlue;

      &:after {
        content: '';
        background-color: $BabyBlue;
        width: 5rem;
        height: 0.3rem;
        margin-top: 5.5rem;
        display: block;
      }

      span {
        color: #fff;
      }
    }
  }
}

.ExpertiseBannerContent {
  background: $BabyBlueGradient;
  color: #fff;
  padding: 8rem;
  width: 30%;
  left: 15%;
  position: absolute;
  margin-top: -125px;

  .box p {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.ExpertisePageBreak {
  background-size: cover !important;
  background-position: center center !important;
  padding: 20rem 0;
  @include box-shadow-inset-bottom();
}

.ExpertisePageBreak .column {
  flex-direction: column;
  flex-basis: 25%;
  max-width: 25%;
  text-align: center;
  color: #fff;
  padding: 0 6rem;

  h1 {
    margin-bottom: 3rem;
    font-size: 5rem;
    line-height: 5rem;
  }

  h2 {
    color: $BabyBlue;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}

.ExpertisePageBreak .row {
  justify-content: center;
}

.ContentWrap.expertise:before {
  position: absolute;
  height: 100%;
  width: 4%;
  background: $BabyBlueGradient;
  left: 0;
  top: 0;
  display: block;
  content: '';
  z-index: 5;
}
// responsive - 1600px :
@media only screen and (max-width: 1600px) {
  .ExpertisePortalFlexContainer .box {
    flex-basis: 70%;
    max-width: 70%;
  }
}
// responsive - 1440px :
@media only screen and (max-width: 1440px) {
  .ExpertiseBannerContent {
    width: 50%;
  }

  .ExpertiseIntro.FlexContainer .row.RowTwo .column:first-of-type .box {
    margin-left: 0;
  }

  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText .box {
    margin: 0 15rem;
  }
}
// responsive - 1240px :
@media only screen and (max-width: 1240px) {
  .ExpertisePortalFlexContainer .box {
    flex-basis: 80%;
    max-width: 80%;
  }
}
// responsive - 1200px :
@media only screen and (max-width: 1200px) {
  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText .box {
    margin: 0 10rem;
  }

  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText,
  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText p {
    width: auto;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .ExpertisePageBreak .column {
    padding: 0 2rem;
  }
}
// responsive - 1024px :
@media only screen and (max-width: 1024px) {
  .ExpertisePageBreak .column {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 3rem;

    p {
      max-width: 50%;
      margin: 0 auto;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
// responsive - 990px :
@media only screen and (max-width: 990px) {
  .ExpertisePortalFlexContainer .box {
    flex-basis: 100%;
    max-width: 100%;
  }

  .ExpertisePortalFlexContainer .column.Content {
    flex-basis: 40%;
  }

  .ExpertiseIntro.FlexContainer .row.RowOne .column:last-of-type .box {
    padding: 4rem;
  }
}
// responsive - 900px :
@media only screen and (max-width: 900px) {
  .ExpertiseBannerContent {
    width: 70%;
  }

  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText .box {
    margin: 0 0 0 8rem;
  }
}
// responsive - 768px :
@media only screen and (max-width: 768px) {
  .ExpertiseIntro.FlexContainer .row.RowTwo .column:first-of-type .box {
    padding: 5rem;
    margin: 0 0 0 2rem;
  }

  .ExpertiseIntro.FlexContainer .row.RowTwo .column:last-of-type .box {
    padding: 4rem;
  }
}
// responsive - 750px :
@media only screen and (max-width: 750px) {
  .ExpertiseIntro.FlexContainer .column {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText .box,
  .ExpertiseIntro.FlexContainer .row.RowOne .column:last-of-type .box,
  .ExpertiseIntro.FlexContainer .row.RowTwo .column:first-of-type .box {
    padding: 2rem 8rem;
    margin: 0;
  }

  .ExpertiseIntro.FlexContainer .row.RowTwo .column:last-of-type .box {
    margin: 8rem;
  }
}
// responsive - 600px :
@media only screen and (max-width: 600px) {
  .ExpertisePortalFlexContainer .column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .ExpertisePortalFlexContainer .column.BackgroundImage {
    height: 20rem;
  }

  .ExpertiseIntro.FlexContainer > .column {
    padding-top: 0;
  }

  .ExpertiseBannerContent {
    padding: 3rem;
    margin-top: 45px;
    margin-bottom: 5rem;
    position: static;
    margin: 4rem auto;
  }
}
// responsive - 450px :
@media only screen and (max-width: 450px) {
  .ExpertiseIntro.FlexContainer .row.RowOne .column.HeroText .box,
  .ExpertiseIntro.FlexContainer .row.RowOne .column:last-of-type .box,
  .ExpertiseIntro.FlexContainer .row.RowTwo .column:first-of-type .box {
    padding: 2rem 6rem;
  }

  .ExpertiseIntro.FlexContainer .row.RowTwo .column:last-of-type .box {
    margin: 3rem;
  }

  .ExpertiseBannerContent .box p {
    font-size: 2rem;
    line-height: 2rem;
  }
}
