.TeamProfiles {
  background: #fff;

  .column.DarkBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }

  .CardsContainer {
    margin: -10rem auto 0;
    width: 80%;
    padding-bottom: 10rem;

    .row {
      margin-bottom: 5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .btn {
      display: block;
      text-align: center;
      color: #fff;
      padding: 1.5rem 4rem;

      &.odd {
        background-color: $BabyBlue;
      }

      &.even {
        background-color: $DarkBlue;
      }

      &.odd:hover,
      &.even:hover {
        background-color: #ccc;
      }
    }

    .OddCard {
      margin-right: 2.5em;

      .CardContainer {
        align-self: flex-end;
      }
    }
  }
}
// responsive - 965px :
@media screen and (max-width: 965px) {
  .TeamProfiles .CardsContainer .EvenCard,
  .TeamProfiles .CardsContainer .OddCard {
    flex-basis: 100%;
    max-width: 100%;
  }

  .CardContainer {
    margin: 3rem auto;
  }

  .TeamProfiles .CardsContainer .OddCard {
    margin: 0;
  }

  .TeamProfiles .CardsContainer .row {
    margin-bottom: 0;
  }
}
// responsive - 450px
@media screen and (max-width: 450px) {
  .FlexContainer.Horizontal.Buttons .column {
    max-width: 100%;
    flex-basis: 100%;
  }
}
