.Locations.FlexContainer,
.LocationsPortalFlexContainer {
  h1 {
    color: $BabyBlue;
  }

  p {
    color: $LightGray;
  }

  .column.Content {
    flex-basis: 40%;
    max-width: 40%;
    flex-direction: row;
    flex-wrap: wrap;

    .box.PortalContent {
      h1 {
        margin-bottom: 2rem;
      }
      flex-basis: 100%;
      max-width: 100%;
      align-self: center;
      align-items: center;

      .inner {
        max-width: 40rem;
        padding: 6rem 0;
      }
    }
  }

  .column.LightBlueBackgroundBlock {
    flex-basis: 35%;
    max-width: 35%;
  }

  .column.LocationsList {
    h1 {
      color: #fff;
    }

    .box {
      background: $BabyBlueGradient;
      z-index: 2;
      margin-right: -5rem;
      @include box-shadow-right();
      flex: 1;

      section {
        padding: 10rem;
        box-sizing: border-box;
      }
    }
    text-align: right;
  }
}

.PageBanner.Locations h1 {
  display: none;
}

.Locations.FlexContainer {

  .column.LocationsList {
    flex-basis: 385px;
    max-width: 385px;

    .box {
      padding: 8rem 4rem 8rem 8rem;
      margin-right: 0;

      .LocationContainer {
        padding: 1rem;
        cursor: pointer;
        transition: all 350ms ease-out;

        h1 {
          margin-bottom: 0;
          display: flex;
          justify-content: flex-end;
          position: relative;

          span {
            transition: all 350ms ease-out;
          }

          span:nth-child(2) {
            flex-basis: 20%;
            max-width: 20%;
            margin-left: auto;
            margin-right: 1rem;
            position: absolute;

            svg {
              width: 30px;
              transition: all 300ms ease-out;
              opacity: 0;
              transform: translateX(-3rem);
              top: -.1rem;

              path {
                fill: #fff;
              }
            }
          }
        }

        &.activeLocation {
          cursor: default;
        }

        &.activeLocation,
        &:hover {
          transform: translateX(8rem);
          background-color: $DarkGray;
          padding-left: 2.5rem;
          @include box-shadow-right();

          span:nth-child(1) {
            transform: translateX(-6rem);
          }

          span:nth-child(2) svg {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.FlexContainer.Locations {
  .column.LightBlueBackgroundBlock {
    flex-basis: 15%;
    max-width: 15%;
  }

  .column.DarkGrayBackground {
    flex-basis: 5%;
    max-width: 5%;
  }

  .row.RowTwo {
    margin-top: -8rem;
  }
}

.column.Location,
.column.Location .column {
  flex-direction: column;
}

.column.Location {
  padding: 5rem 0 2rem;
  background-color: #fff;
  @include box-shadow-all( 'rgba(44,62,80,.1)');

  .mapCanvas.Circular {
    margin: 0 auto;
    z-index: 2;

    div {
      z-index: 1;
    }
  }

  .LocationBox.FlexContainer {
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  .box.FlexContainer.activeLocation {
    display: flex;
    visibility: visible;
    height: auto;
    opacity: 1;
    text-align: center;

    .row {
      //justify-content: center;
    }
  }

  .LocationContent {
    max-width: 80%;
    flex-basis: 80%;
    padding: 0 6rem;

    .box {
      max-width: 40%;
      margin-left: auto;
    }
  }
}

.Address {
  color: $BabyBlue;
  display: inline-block;
  text-align: left;
  margin-top: 5rem;
  h2 {
    font-size: 2rem;
  }

  section.Phone h1:first-of-type,
  .AddressContainer h1 {
    margin-bottom: 1.5rem;
  }

  section.Phone h1 {
    color: $DarkGray;
  }

  .AddressContainer {
    &:before {
      margin-bottom: 1.5rem;
      display: block;
      content: '';
      width: 40%;
      height: 1px;
      background-color: $BabyBlue;
    }
  }
}
// responsive - 1240px :
@media only screen and (max-width: 1240px) {
  .Locations.FlexContainer .column.LightBlueBackgroundBlock,
  .LocationsPortalFlexContainer .column.LightBlueBackgroundBlock {
    flex-basis: 15%;
    max-width: 15%;
  }
}
// responsive - 1200px :
@media only screen and (max-width: 1200px) {
  .column.Location .box.FlexContainer.activeLocation .column {
    max-width: 60%;
  }
}
// responsive - 990px :
@media only screen and (max-width: 990px) {
  .Locations.FlexContainer .column.LightBlueBackgroundBlock,
  .LocationsPortalFlexContainer .column.LightBlueBackgroundBlock {
    flex-basis: 5%;
    max-width: 5%;
  }

  .Locations.FlexContainer .column.Content,
  .LocationsPortalFlexContainer .column.Content {
    flex-basis: 60%;
    max-width: 60%;
  }

  .Locations.FlexContainer .row.RowOne {
    margin-top: -10rem;
  }
}
// responsive - 990px :
@media only screen and (max-width: 900px) {
  .column.Location .box.FlexContainer.activeLocation .column {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin: 3rem auto;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .column.Address .AddressContainer:before {
    margin: 3.5rem auto;
  }

  .Locations.FlexContainer .column.LocationsList {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .Locations.FlexContainer .column.LocationsList .box .LocationContainer.activeLocation,
  .Locations.FlexContainer .column.LocationsList .box .LocationContainer:hover {
    transform: translateX(0rem);
  }
}
// responsive - 600px :
@media only screen and (max-width: 600px) {
  .Locations.FlexContainer .column.Content,
  .LocationsPortalFlexContainer .column.Content {
    flex-basis: 100%;
    max-width: 100%;
  }

  .Locations.FlexContainer .column.LocationsList .box,
  .LocationsPortalFlexContainer .column.LocationsList .box {
    margin-right: 0;
  }

  .LocationsPortalFlexContainer .column.BackgroundImage {
    flex-basis: 100%;
  }
}
// responsive - 500px :
@media only screen and (max-width: 500px) {
  .FlexContainer.Locations .column.BabyBlueBackground,
  .Locations.FlexContainer .column.LightBlueBackgroundBlock,
  .LocationsPortalFlexContainer .column.LightBlueBackgroundBlock {
    flex-basis: 2%;
    max-width: 2%;
  }

  .mapCanvas.Circular {
    width: 20rem;
    height: 20rem;
  }
}
// responsive - 320px :
@media only screen and (max-width: 320px) {
  .Locations.FlexContainer .column.LightBlueBackgroundBlock,
  .LocationsPortalFlexContainer .column.LightBlueBackgroundBlock {
    flex-basis: 1%;
    max-width: 1%;
  }

  .Locations.FlexContainer .column.LocationsList .box,
  .LocationsPortalFlexContainer .column.LocationsList .box {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
