.blogLayoutChild .BackgroundImage {
  width: 100%;
  height: 50rem;
  position: relative;
}

.SinglePostTitle {
  background: $BabyBlue;
  @include box-shadow-all( 'rgba(44,62,80,.2)');
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 60%;

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

.blogLayoutChild .blogContent .SinglePostTitle .box {
  padding: 5rem;
}

.SinglePostContainer {
  margin-top: 6rem;
  color: $DarkGray;
}

.SinglePostContainer .column:first-of-type {
  flex-basis: 60%;
  max-width: 60%;
  margin-right: 3rem;
}
@media screen and (max-width: 900px) {
  .SinglePostTitle {
    width: 75%;
  }
}
@media screen and (max-width: 450px) {
  .SinglePostTitle {
    width: 100%;
  }
}
