.PageBanner.Services h1 {
  display: none;
}

.Services.FlexContainer .RowOne {
  position: relative;
  z-index: 2;
  background: $LightBlue;

  .column:nth-child(1) {
    align-self: flex-end;
    height: 40%;
  }

  .column:nth-child(2) {
    flex-basis: 65%;
    max-width: 65%;
    padding: 15rem;
    background-color: #fff;
    @include box-shadow-all();

    h1 {
      color: $BabyBlue;
    }
  }
}

.Services.FlexContainer .RowTwo {
  .BackgroundImage {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    height: 95rem;
    width: 100%;
  }

  .services-list .BackgroundImage {
    height: 30rem;
  }

  .column {
    flex-basis: 50%;
    max-width: 50%;
    height: 100%;
    flex-direction: column;
    background-color: $BabyBlue;
    @include box-shadow-inset-bottom( 'rgba(44,62,80,.5)');
  }

  .box {
    padding: 8rem;
    color: #fff;
  }

  .service-content.box {
    background: $BabyBlue;
    color: #fff;
    padding: 8rem;
    @include box-shadow-inset-top-and-bottom( 'rgba(44,62,80,.2)');
  }
}
// services list :

.services-list .box {
  background-color: $DarkGray;
  color: #fff;
}

.services-list h1 {
  margin-top: 3rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.services-list .btn {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.services-list .line {
  width: 15%;
}
// services ajax loader :

.Services.AjaxLoader {
  background: rgba(255, 255, 255, 0.9);
}

.Services.AjaxContainer .servicesTitle {
  background-color: #1F242A;
  color: #47b6e4;
  padding: 2.5rem 2rem;
  text-align: right;
  width: 40rem;

  span {
    display: inline-block;
    margin-right: 2rem;
  }
}

.Services.AjaxContainer .CloseButton .AjaxCloseButton path {
  fill: $BabyBlue;
}

.SingleService .Services {
  width: 114rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 10rem 0;
}

.SingleService .Services h1 {
  color: $BabyBlue;
}

.Services.AjaxContainer .CloseButton:hover .AjaxCloseButton:hover path {
  fill: #fff;
}

.Services.AjaxContainer .serviceDescription {
  width: 80%;
  margin-left: auto;
  color: #1F242A;

  .inner {
    width: 70%;
  }
}
// responsive - 990px :
@media screen and (max-width: 990px) {
  .Services.FlexContainer .RowOne .column:nth-child(2) {
    padding: 10rem;
  }
}
// responsive - 800px :
@media screen and (max-width: 800px) {
  .Services.FlexContainer .RowOne .column:nth-child(2) {
    padding: 10rem;
  }

  .Services.FlexContainer .RowTwo .column {
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
  }

  .Services.FlexContainer .RowTwo .BackgroundImage {
    height: 30rem;
  }

  .Services.FlexContainer .RowTwo .service-content.box {
    box-shadow: none;
  }
}
// responsive - 768px :
@media screen and (max-width: 768px) {
  .Services.FlexContainer .RowOne .column:nth-child(2) {
    padding: 5rem;
  }
}
// responsive - 600px :
@media screen and (max-width: 600px) {
  .Services.FlexContainer .RowOne .column:nth-child(2) {
    padding: 5rem;
  }

  .Services.FlexContainer .RowOne .column:nth-child(2) {
    max-width: 100%;
  }

  .Services.FlexContainer .RowOne .column.DarkGrayBackground,
  .Services.FlexContainer .RowOne .column:nth-child(1) {
    max-width: 2%;
    flex-basis: 2%;
  }

  .Services.FlexContainer .RowTwo .box,
  .Services.FlexContainer .RowTwo .service-content.box {
    padding: 5rem;
  }

  .Services.AjaxContainer .serviceDescription,
  .Services.AjaxContainer .serviceDescription .inner {
    width: 100%;
  }

  .Services.AjaxContainer .servicesTitle {
    width: auto;
  }
}
