@import 'components/global/colors';
@import 'components/global/backgrounds';
@import 'components/global/gradients';

body,
html {
  height: 100%;
}

.ContentWrap {
  margin-top: 10.10rem;
  position: relative;
}

a {
  transition: all 300ms ease-out;
}

.Copyright {
  text-transform: uppercase;
  color: #fff;
}
@import 'utilities/reset';
@import 'utilities/flex';
@import 'utilities/typography';
@import 'utilities/animations';
@import 'utilities/box-shadow';
@import 'utilities/animations';
@import 'utilities/padding';
@import 'utilities/gmaps';
@import 'utilities/mobilemenu';
@import 'components/global/header';
@import 'components/global/logo';
@import 'components/global/scrollDown';
@import 'components/global/navigation';
@import 'components/global/footer';
@import 'components/global/buttons';
@import 'components/global/images';
@import 'components/global/socialMediaIcons';
@import 'components/global/pageBanner';
@import 'components/global/pagePortal';
@import 'components/global/publications';
@import 'components/global/newsList';
@import 'components/global/icons';
@import 'components/global/contentModule';
@import 'components/global/posts';
@import 'components/global/cards';
@import 'components/global/teamProfileFull';
@import 'components/global/ajaxLoader';
@import 'components/global/twitterfeed';
@import 'components/global/recentPost';
@import 'components/global/gravityForm';
@import 'components/global/breadcrumbs';
@import 'components/pages/home';
@import 'components/pages/about';
@import 'components/pages/contact';
@import 'components/pages/expertise';
@import 'components/pages/locations';
@import 'components/pages/leadership';
@import 'components/pages/services';
@import 'components/pages/blog';
@import 'components/pages/singlepost';

html, body {
  height: 100vh;
}

.screen-reader-text {
  display: none;
}