<footer>
  <section class="FlexContainer">
    <section class="column">
      <span class="Copyright"> &copy; {$currentYear} {$Copyright}</span>
    </section>
    <section class="column">
      <section class="SiteLogo">
        <a href="{$homeURL}">{$SiteLogo}</a>
      </section>
    </section>
    <section class="column">
      <section class="SocialMediaIcons">
        <a href="{$Facebook}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480" class="FacebookIcon">
            <path id="f" d="M337.7 353.4V250.1h34.7l5.2-40.3h-39.9v-25.7c0-11.7 3.2-19.6 20-19.6H379v-36c-3.7-.5-16.4-1.6-31.1-1.6-30.8 0-51.8 18.8-51.8 53.2v29.7h-34.8v40.3h34.8v103.4h41.6z"/>
          </svg>
        </a>
        <a href="{$Linkedin}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 640 480" class="LinkedinIcon">
            <path d="M181.5 191.5h59.8v192.1h-59.8zm29.9-26.2c-19.2 0-34.6-15.5-34.6-34.6s15.5-34.6 34.6-34.6 34.6 15.5 34.6 34.6c0 19-15.5 34.6-34.6 34.6zm253.5 218.3h-59.7v-93.4c0-22.3-.4-50.9-31-50.9-31.1 0-35.8 24.3-35.8 49.3v95h-59.6V191.5H336v26.3h.8c8-15.1 27.4-31 56.5-31 60.5 0 71.6 39.8 71.6 91.5v105.3z"/>
          </svg>
        </a>
        <a href="{$Twitter}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 640 480" class="TwitterIcon">
            <path d="M273.6 341.6c94.3 0 145.9-78.2 145.9-145.9 0-2.2 0-4.4-.1-6.6 10-7.2 18.7-16.3 25.6-26.6-9.2 4.1-19.1 6.8-29.5 8.1 10.6-6.3 18.7-16.4 22.6-28.4-9.9 5.9-20.9 10.1-32.6 12.4-9.4-10-22.7-16.2-37.4-16.2-28.3 0-51.3 23-51.3 51.3 0 4 .5 7.9 1.3 11.7-42.6-2.1-80.4-22.6-105.7-53.6-4.4 7.6-6.9 16.4-6.9 25.8 0 17.8 9.1 33.5 22.8 42.7-8.4-.3-16.3-2.6-23.2-6.4v.7c0 24.8 17.7 45.6 41.1 50.3-4.3 1.2-8.8 1.8-13.5 1.8-3.3 0-6.5-.3-9.6-.9 6.5 20.4 25.5 35.2 47.9 35.6-17.6 13.8-39.7 22-63.7 22-4.1 0-8.2-.2-12.2-.7 22.6 14.4 49.6 22.9 78.5 22.9"/>
          </svg>
        </a>
      </section>
    </section>
  </section>
</footer>
