.AjaxLoader {
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: hidden;

  img {
    width: 5rem;
    height: 5rem;
  }
}

body.noScroll {
  overflow: hidden;
}

.AjaxContainer {
  position: absolute;
  opacity: 0;
  width: 80vw;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
