// backgrounds :

.DarkGrayBackground {
  background-color: $DarkGray;
  color: #fff;
}

.BabyBlueBackground {
  background-color: $BabyBlue;
}

.LightBlueBackgroundBlock {
  background-color: $LightBlue;
}

.DarkBlueBackgroundBlock {
  background-color: $DarkBlue;
}

.WhiteBackgroundBlock {
  background-color: #fff;
}

.BackgroundImage,
.column.BackgroundImage {
  background-size: cover !important;
  align-self: stretch;
  background-position: center center !important;
}
