.crumbs {
  padding: 0;
  margin-bottom: 2rem;
}

.crumbs li {
  list-style-type: none;
  display: inline-block;
  text-transform: lowercase;
}

.crumbs li a {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: $DarkGray;
  text-decoration: none;
}

.crumbs li:after {
  content:'';
  display: inline-block;
  width: 15px;
  height: 1px;
  background-color: $LightGray;
  margin: 0 10px;
  vertical-align: middle;
}

.crumbs li a:hover {
  color: $LightGray;
}

.crumbs li:last-of-type:after {
  display: none;
}