.btn {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.4rem;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;

  &:hover {
    span {
      background: #1F242A;

      &:after {
        width: 100%;
        left: 0;
      }
    }

    .line {
      width: 0;
      opacity: 0;
    }
  }

  span {
    display: inline-block;
    background-color: $Blue;
    position: relative;
    padding: 1rem;
    color: #fff;
    border: 1px solid rgba(255,255,255,.2);
    min-width: 12rem;
    text-align: center;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #47b6e4;
      transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  .line {
    width: 45%;
    background-color: #fff;
    height: 1px;
    margin-left: 1rem;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 1;
  }
}

.btn-reverse {
  flex-direction: row-reverse;

  .line {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.CloseButton {
  text-align: right;
  position: relative;
  z-index: 2;

  .AjaxCloseButton {
    position: absolute;
    right: -3rem;
    path {
      fill: #ffffff;
      transition: all 300ms ease-out;
    }
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    display: inline-block;

    &:hover {
      path {
        fill: #47B6E4;
      }
    }
  }
}
