.Cards {
  .FlexContainer {
    .column {
      flex-direction: column;
    }
  }
}

.CardContainer {
  background-color: #fff;
  @include box-shadow-all('rgba(44,62,80,.2)');
  max-width: 40rem;
  h1 {
    margin-bottom: .5rem;
  }
  h2 {
    font-size: 1.8rem;
    color: $DarkGray;
    font-style: italic;
    margin-bottom: 2rem;
  }
  .box.ContentModule {
    padding: 4rem;
  }
}
