footer {
  padding-bottom: 2.8rem;
  background-color: $DarkGray;

  .FlexContainer {
    flex-direction: row;

    .column {
      justify-content: center;
      align-items: flex-end;
    }
  }
}
// responsive - 500px :
@media screen and (max-width: 500px) {
  footer .FlexContainer {
    flex-direction: column-reverse;
  }

  footer .FlexContainer .column {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 2rem;

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  footer .SiteLogo {
    height: auto;
  }

  footer {
    padding-top: 2.8rem;
  }
}
