header {
  background: $DarkGray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.10rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  .SocialMediaIcons {
    flex-basis: 25%;
  }
}
