img {
  display: block;
  max-width: 100%;
}

.RoundedImage {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: -15px 0 15px -15px rgba(44, 62, 80, 1), 15px 0 15px -15px rgba(44, 62, 80, 1);
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;

  img {
    border-radius: 50%;
    height: 48rem;
    width: 48rem;
  }
}
// responsive - 1200px :
@media screen and (max-width: 1200px) {
  .RoundedImage {
    width: 32rem;
    height: 32rem;
  }

  .RoundedImage img {
    height: 30rem;
    width: 30rem;
  }
}
