.SiteLogo {
  position: relative;
  flex-basis: 25%;
  height: 171px;

  a {
    width: 20rem;
    max-width: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 3.5rem;
  }

  svg {
    width: 100%;

    .cls-1 {
      fill: #6cc8e9;
    }

    .cls-2,
    .cls-4 {
      fill: none;
      stroke: #fff;
    }

    .cls-2 {
      stroke-width: 0.7px;
    }

    .cls-3 {
      fill: #fff;
    }

    .cls-4 {
      stroke-width: 0.56px;
      stroke-dasharray: 0.34 0.69;
    }
  }
}

Footer .SiteLogo {
  display: flex;
  justify-content: center;

  a {
    position: static;
    width: 15rem;
    align-self: flex-end;
  }
}
// responsive - 450px
@media screen and (max-width: 450px) {
  .SiteLogo {
    flex-basis: 35%;
  }
}
// responsive - 320px
@media screen and (max-width: 320px) {
  .SiteLogo {
    flex-basis: 40%;
  }
}
