.Navigation {
  ul {
    li {
      display: inline-block;
      margin-right: 2rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  a {
    display: block;
  }
}

header .Navigation {
  flex-basis: 60%;
  text-align: center;

  ul {
    display: inline-block;

    a {
      border-bottom: 2px dotted transparent;

      &:hover {
        border-bottom: 2px dotted $BabyBlue;
        color: $BabyBlue;
      }
    }

    li {
      position: relative;
      padding: 0 1.5rem;
      margin: 0;

      &.menu-item:after {
        display: block;
        position: absolute;
        right: -2px;
        height: 25px;
        width: 1px;
        top: 0;
        background: rgba(255, 255, 255, 0.4);
        content: '';
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type:after {
        display: none;
      }
    }
  }

  a {
    font-weight: 600;
    font-style: italic;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1rem;
  }
}
// active page :

li.current-menu-item a {
  border-bottom: 2px dotted $BabyBlue !important;
  color: $BabyBlue;
}
// responsive - 1279px :
@media only screen and (max-width: 1279px) {
  header .Navigation ul li {
    padding: 0 1rem;
  }

  header .Navigation a {
    font-size: 1.5rem;
  }
}
// responsive - 1000px :
@media only screen and (max-width: 1000px) {
  header .Navigation ul li {
    padding: 0 0.5rem;
  }
}
// responsive - 990px :
@media only screen and (max-width: 990px) {
  header .Navigation.Primary {
    display: none;
  }

  .HamburgerContainer {
    display: flex;
  }
}
// responsive - 990px :
@media only screen and (max-width: 990px) {
  header .SocialMediaIcons {
    flex-basis: auto;
    margin-left: auto;
    margin-right: 3rem;
  }
}
