.News {
  padding: 2.5rem;
  flex: 1;
  max-width: 100%;

  .box {
    background: #ffffff;
  }

  .btn {
    margin-top: 3rem;
  }

  .NewsTitle {
    background: $DarkGray;
    color: $BabyBlue;
    padding: 0.5rem 1.5rem;

    h1 {
      font-size: 1.4rem;
      margin: 0;
    }

    span {
      color: #fff;
    }
  }

  article {
    $duration: 300ms;
    $easing: ease-in;

    a {
      display: flex;
      flex: 1;
      max-width: 100%;
      flex-direction: column;
      padding: 2rem 1.5rem 0;
      text-decoration: none;
      color: $LightGray;
      transition: all $duration $easing;

      span {
        display: block;
        text-align: right;
        font-size: 1.2rem;
        margin-top: 2rem;
        color: #fff;
        transition: all $duration $easing;
      }

      &:after {
        display: block;
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 1px;
        background-color: rgba(204, 204, 204,.1);
        margin-top: 3rem;
        content: '';
        transition: all $duration $easing;
      }

      &:hover {
        background-color: $DarkGray;
        color: #fff;

        span {
          color: $BabyBlue;
        }

        &:after {
          opacity: 0;
        }
      }
    }

    h1 {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }
}
