.PagePortal {
  .box {
    padding: 5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
  }

  .column.Content {
    display: flex;
    flex: 1;
    align-self: stretch;
    justify-content: center;
    color: #fff;

    .btn {
      margin-top: 3rem;
    }
  }
}
