.PageBanner {
  position: relative;
  height: 750px;
  background-size: cover !important;
  background-position: center center !important;
  display: flex;
  flex: 1;
  max-width: 100%;
  justify-content: center;
  align-items: center;

  .tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44,62,80,.5);
    left: 0;
    top: 0;
  }

  .PageBannerContent {
    position: relative;
    z-index: 2;
  }

  h1 {
    color: #fff;
    font-size: 5rem;
    line-height: 5rem;

    &.Flex {
      display: flex;
      align-items: center;
      flex-direction: row;

      span {
        color: #fff;
      }
    }

    span {
      color: $BabyBlue;
    }
  }

  .PlayButtonIcon {
    display: none;
    width: 12rem;
    height: 12rem;
    margin-left: 2rem;

    path {
      fill: $BabyBlue;
    }
  }
}

.PageBanner.Home .PageBannerContent {
  text-align: center;
}

.PageBanner.Interior {
  height: 450px;
}

.PageBanner.Home {
  .ScrollDown {
    display: inline-block;
    cursor: pointer;
    transition: opacity 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
  }

  .ScrollDown:hover {
    opacity: .5;
  }

  h1 {
    flex-direction: column;
  }

  .tint {
    display: none;
  }
}

.PageBanner.Interior {
  h1.Flex {
    font-size: 3rem;
  }
}

.PageBanner.About {
  .PlayButtonIcon {
    display: none;
  }
}

.PageBanner.VideoBlock {
  .PlayButtonIcon {
    display: none;
  }
}
// responsive - 1279px :
@media only screen and (max-width: 1279px) {
  .PageBanner h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
// responsive - 1279px :
@media only screen and (max-width: 1279px) {
  .PageBanner.Interior {
    height: 400px;
  }
}
// responsive - 990px :
@media only screen and (max-width: 990px) {
  .PageBanner {
    height: 400px;
  }
}
// responsive - 600px :
@media only screen and (max-width: 600px) {
  .PageBanner h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
