.PublicationsFlexContainer {
  padding: 15rem 0;
  flex-direction: row;

  .column {
    justify-content: center;
    flex-basis: 33.3%;
    max-width: 33.3%;
  }
}

.box.Publication {
  a {
    display: block;
    text-decoration: none;

    h1 {
      color: $DarkGray;
      font-size: 2.5rem;
    }

    p {
      color: $LightGray;
      margin-bottom: 1rem;
    }
  }

  a .inner {
    transition: all 300ms ease-out;
  }

  a:hover .inner {
    transform:translateY(25px);
    opacity: .5;
  }

  text-align: center;

  .PostDate,
  h1 {
    margin-bottom: 1rem;
  }

  img {
    width: 14rem;
    margin: 0 auto;
  }
}
// responsive - 600px :
@media only screen and (max-width: 600px) {
  .PublicationsFlexContainer .column {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
