.recentPost {
  padding: 0 2.5rem;
}

.blogLayout .blogContent .recentPost .box {
  padding: 0;
  background-color: #fff;
}

.recentPostTitle {
  background: $DarkGray;
  color: $BabyBlue;
  padding: 0.5rem 1.5rem;

  h1 {
    font-size: 1.4rem;
    margin: 0;

    span {
      color: #fff;
    }
  }
}

.recentPost article {
  border-bottom: 1px solid rgba(154,154,154,.2);
}

.recentPost article a {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-decoration: none;
  color: #9a9a9a;
  transition: all 300ms ease-in;

  &:hover {
    background-color: $DarkGray;
    color: #fff;
  }

  h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0;
  }
}
