.ScrollDown {
  margin-top: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  svg {
    display: block;
    margin: 1rem auto;
    width: 2.5rem;
    height: 2.5rem;
    path,
    circle {
      fill: none;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 4px;
    }
  }
  display: none;
}
