.SocialMediaIcons {
  a {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: $BabyBlue;

    &:hover {
      animation: pulse 1.5s ease-in-out infinite both;
      background-color: #fff;

      svg {
        path {
          fill: $LightGray;
        }
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  svg {
    width: 100%;

    path {
      fill: #fff;
      transition: all 400ms ease-in;
    }
  }
}
// responsive - 1279px :
@media only screen and (max-width: 1279px) {
  .SocialMediaIcons a {
    margin-right: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}
// responsive - 400px :
@media only screen and (max-width: 400px) {
  .SocialMediaIcons a {
    margin-right: 1rem;
  }

  header .SocialMediaIcons {
    margin-right: 1.5rem;
  }
}
// responsive - 320px :
@media only screen and (max-width: 320px) {
  header .SocialMediaIcons {
    margin-right: 1rem;
  }
}
