.TeamProfileFull {
  .Name {
    .box {
      background-color: $DarkGray;
      padding: 3rem 0;
      max-width: 50rem;
    }

    h1 {
      color: $BabyBlue;
      font-size: 2.5rem;
      text-align: right;
      padding-right: 2rem;
      margin-bottom: 0;
    }
  }

  .Image {
    flex-basis: 50rem;
    max-width: 50rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  .Content {
    background: $BabyBlueGradient;
    padding: 10rem;
    color: #fff;

    h1 {
      margin-bottom: 3rem;
    }
  }

  .btn {
    margin-top: 3rem;
  }

  .Experience {
    .column {
      flex-direction: column;
    }
    background-color: $DarkGray;
  }

  .ExperienceLabel {
    h1 {
      text-align: center;
      color: #fff;
      background: $DarkBlue;
      padding: 3rem 0;
      max-width: 50rem;
    }
  }

  .ExperienceList {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;

    li {
      list-style-type: none;
      flex-basis: 50%;
      max-width: 50%;
      color: #fff;
      margin-bottom: 3rem;
      box-sizing: border-box;
      padding: 0 5rem;

      h1 {
        color: $BabyBlue;
        font-size: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.SingleLeadershipProfile {
  margin: 0 auto;
  width: 114rem;
  max-width: 100%;
}

// responsive - 1280px :
@media screen and (max-width: 1280px) {
  .TeamProfileFull .Content {
    padding: 5rem;
  }

  .TeamProfileFull .ExperienceList li {
    padding: 0 2rem;
  }
}
// responsive - 1100px :
@media screen and (max-width: 1100px) {
  .TeamProfileFull .Image {
    flex-basis: 40rem;
    max-width: 40rem;
  }
}
// responsive - 1024px :
@media screen and (max-width: 1024px) {
  .TeamProfileFull .ExperienceList li {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 3rem;
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
// responsive - 950px :
@media screen and (max-width: 950px) {
  .TeamProfileFull .Image {
    flex-basis: 30rem;
    max-width: 30rem;
  }
}
// responsive - 800px :
@media screen and (max-width: 800px) {
  .TeamProfileFull .Content {
    padding: 3rem;
  }

  .TeamProfileFull .Image {
    height: 30rem;
  }

  .TeamProfileFull .Content,
  .TeamProfileFull .Image {
    flex-basis: 100%;
    max-width: 100%;
  }

  .TeamProfileFull .ExperienceList {
    padding: 4rem;
  }
}
