.TwitterFeed {
  padding-top: 1rem;

  .SiteLogo {
    height: auto;
  }
}

.TwitterFeed article.TwitterPost {
  background-color: #fff;
  margin: 0;
  padding: 2rem;
  border-bottom: 1px solid rgba(154,154,154,.2);

  &:last-of-type {
    border: none;
  }
}

.TwitterName a h1 {
  margin: 0 0 0 -1.5rem;
  display: inline-block;
}

.TwitterName a h1,
.TwitterName a svg path {
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.TwitterName a:hover h1 {
  color: $LightGray;
}

.TwitterName a:hover svg path {
  fill: $LightGray;
}

.TwitterPost {
  .FlexContainer {
    align-items: center;
    height: 10rem;
  }

  .column.SiteLogo {
    flex-basis: 8rem;
    max-width: 8rem;
    margin-right: 1.5rem;
    align-self: center;
  }

  h1 {
    color: $BabyBlue;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.TwitterFeed .twitterIcon {
  display: inline-block;
  width: 15%;
}

.TwitterFeed .twitterIcon svg {
  fill: $BabyBlue;
}

.TwitterFeed a {
  display: flex;
  align-items: center;
}

.column.TwitterContent {
  align-self: center;
}